In [77]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import accuracy_score

In [78]:
#Implementing Gaussian Naive Bayes Classifier

class CustomNaiveBayes():

  def __init__(self,X, Y):

    #Determining the class labels and total number of classes
    self.n, self.features = X.shape
    self.class_labels = np.unique(Y)
    self.no_classes = len(np.unique(Y))
  
  def train(self, X, Y):

      self.mean_c = np.zeros((self.no_classes, self.features))
      self.var_c = np.zeros((self.no_classes, self.features))
      self.prior_c = np.zeros(self.no_classes)

      #Calculating mean, variance and prior for each class 
      for i, c in enumerate(self.class_labels):
        X_in_C = X[Y==c]
        self.mean_c[i, :] = X_in_C.mean(axis=0)
        self.var_c[i, :] = X_in_C.var(axis=0)
        self.prior_c[i] = X_in_C.shape[0]/ X.shape[0]

  def predict(self, X):

    y_pred = []
    for x in X:
      #Calculating posterior probability for each class
      posteriors = []
      for i,c in enumerate(self.class_labels):
        prior = np.log(self.prior_c[i])
        posterior_c = np.sum(np.log(self.calculate_pdf(i,x)))
        posterior_c = prior + posterior_c
        posteriors.append(posterior_c)

      #Determine the class with maximum posterior probability
      y_pred.append(self.class_labels[np.argmax(posteriors)])
    
    #Return an array of class labels
    return y_pred


  def calculate_pdf(self, class_no, x):

    #Calculating the probability density function
    m = self.mean_c[class_no]
    v = self.var_c[class_no]
    pdf = (np.exp(-np.power((x - m),2) / (2 * v))) / np.sqrt(2 * np.pi * v)
    return pdf

In [79]:
dataset = pd.read_csv('data.csv')
dataset = dataset.replace({'B':0, 'M':1})
X = dataset.iloc[:,2:] 
Y = dataset.iloc[:,1]

x_mean = X.mean()
x_std = X.std()
X_norm = (X - x_mean)/x_std

dataset

           id  diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302          1  ...                  0.11890          NaN
1      842517          1  ...                  0.08902          NaN
2    84300903          1  ...                  0.08758          NaN
3    84348301          1  ...                  0.17300          NaN
4    84358402          1  ...                  0.07678          NaN
..        ...        ...  ...                      ...          ...
564    926424          1  ...                  0.07115          NaN
565    926682          1  ...                  0.06637          NaN
566    926954          1  ...                  0.07820          NaN
567    927241          1  ...                  0.12400          NaN
568     92751          0  ...                  0.07039          NaN

[569 rows x 33 columns]

In [ ]:
model = CustomNaiveBayes(X_norm,Y)
model.train(X_norm, Y)
y_pred = model.predict(X_norm)
#print(predictions)

print("Naive Bayes classification accuracy", accuracy_score(Y_test, predictions))